.info-1, .info-2, .info-3 {
    display: inline-block;
    box-sizing: border-box;
    width: 33%;
    color: white;
    text-shadow: 1px 1px 1px black;
    border-radius: 10px;
    padding: 20px;
}

.info-1
{
    background: url(assets/task2-bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.info-2
{
    background: url(assets/task2-bg1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.info-3
{
    background: url(assets/task2-bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
